*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
main{
    background-color: red;
    width: 800px;
    height: 860px;
    margin: 0 auto;
    padding: 20px;
}
.aqua{
    background-color: aqua;
    width: 600px;
    height: 600px;
    padding: 20px;
    justify-content: flex-end;
}
.purple{
    background-color: purple;
    width: 200px;
    height: 200px;
}
.align-self{
    align-self: end;
}
.flex{
    display: flex;
}